{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="profile-container">
    <h1>{{ user.username }}'s Profile</h1>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <h2>Posts:</h2>
    {% if posts %}
        <div class="posts-list">
            {% for post in posts %}
                <div class="post-item">
                    <a href="{% url 'post_detail' slug=post.slug %}">
                        <img class="post-image" src="{{ post.featured_image.url }}" alt="">
                        
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{{ user.username }} has not created any posts yet.</p>
    {% endif %}
        
    <h2>Favorites</h2>
    <div class="favorites-list">
        {% for favorite in favorites %}
        <div class="favorite-item">
            <a href="{% url 'post_detail' slug=favorite.post.slug %}">
                <img class="favorite-image" src="{{ favorite.post.featured_image.url }}" alt="">
                
                <!-- Other details about the post -->
            </a>
        </div>
    {% empty %}
        <p>You haven't favorited any posts yet.</p>
    {% endfor %}
    </div>
    
    <h2>Comments:</h2>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong><a href="{% url 'post_detail' slug=comment.post.slug %}">  {{ comment.post }}<br></strong>
                    
                    <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                    {{ comment.body }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ user.username }} has not commented on any posts yet.</p>
    {% endif %}
</div>
{% endblock %}

